*{
  box-sizing: border-box;
}
body{
  font-family: 'Lexend Deca', sans-serif;
}

.columns{

  width: 65%;
  margin: 4rem auto;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width:750px){
  .columns{
    display: grid;
    grid-template-columns: 1fr ;
    margin-bottom:4rem;
  }
}
.grid1{
  background-color: hsl(31, 77%, 52%);
  padding: 3rem 2.5rem;
  font-size: 1em ;
  font-weight: 400;
  display: grid;
  color: white;
}
.grid1-button{
  background-color: hsl(31, 77%, 52%);
  font-size: 1rem;
  padding: .5em 1em;
  border-radius:1em;
  border: .5px solid white;
  cursor: pointer;
  color: white;
}
.grid1-button:hover{
  background-color: white;
  color:hsl(31, 77%, 52%);
}

.grid2{
  background-color:  hsl(184, 100%, 22%);
  padding: 3rem 2.5rem;
  font-size: 1em ;
  font-weight: 400;
  display: grid;
  color: white;
}
.grid2-button{
  background-color:  hsl(184, 100%, 22%);
  font-size: 1rem;
  padding: .5em 1em;
  border-radius:1em;
  border: .5px solid white;
  cursor: pointer;
  color: white;
}
.grid2-button:hover{
  background-color: white;
  color:hsl(184, 100%, 22%);
}
.grid3{
  background-color: hsl(179, 100%, 13%);
  padding: 3rem 2.5rem;
  font-size: 1em ;
  font-weight: 400;
  display: grid;
  color: white;
}
.grid3-button{
  background-color:  hsl(179, 100%, 13%);
  font-size: 1rem;
  padding: .5em 1em;
  border-radius:1em;
  border: .5px solid white;
  cursor: pointer;
  color: white;
}
.grid3-button:hover{
  background-color: white;
  color:hsl(179, 100%, 13%);
}
